<%- include('partials/header') %>
<%- include('partials/nav') %>
       

<div class="card" style="width: 24rem; margin: 0 auto; margin-top: 2rem;">
  <img src="/images/cardimage.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Routes Available</h5>
    <p class="card-text">
    	<ul>
    		<li>/api/v1/dinosaurs (GET) </li>
    		<li>/api/v1/dinosaurs/id (GET)</li>
    	</ul>
    </p>
  </div>
</div>



<%- include('partials/footer') %>